body{
    background-color: #E9E9E9;
}
.Padre1{
    background-color: #284A53;
    height: 60px;
    width: 1357px;
}
.letra{
    transform: translateY(-8px);
    background-color:#284A53; 
    height: 60px; 
    width: 100px; 
    position: relative;
    left: 200px; 
    position: absolute;
    top: 17px;
}
.letra:hover{
    color: black;
    background-color:white;
}
.link{
    color: white;
    position: relative;
    left: 30px;
    position: absolute ;
    top: 20px;
}
.link:hover{
    color: black;
}
.link2{
    position: relative;
    left: 30px;
    position: absolute ;
    top: 20px;
    color: white;
}
.link2:hover{
    color: black;
}
.link3{
    position: relative;
    left: 30px;
    position: absolute ;
    top: 20px;
    color: white;
}
.link3:hover{
    color: black;
}
.link4{
    position: relative;
    left: 30px;
    position: absolute ;
    top: 20px;
    color: white;
}
.link4:hover{
    color: black;
}
.link5{
    position: relative;
    left: 20px;
    position: absolute ;
    top: 20px;
    color: white;
}
.link5:hover{
    color: black;
}
.link6{
    position: relative;
    left: 20px;
    position: absolute ;
    top: 20px;
    color: white;
}
.link6:hover{
    color: black;
}
.letra2{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0.1px ;
    background-color:#284A53; 
    height: 60px; 
    width: 100px; 
    position: relative;
    left: 300px; 
    position: absolute;
    top: 17px;
    transform: translateY(-8px);
}
.letra2:hover{
    background-color: white;
}
.letra3{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0.1px ;
    background-color:#284A53; 
    height: 60px; 
    width: 100px; 
    position: relative;
    left: 400px; 
    position: absolute;
    top: 17px;
    transform: translateY(-8px);
}
.letra3:hover{
    background-color: white;
}
.letra4{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0.1px ;
    transform: translateY(-8px);
    background-color:#284A53; 
    height: 60px; 
    width: 100px; 
    position: relative;
    left: 500px; 
    position: absolute;
    top: 17px;
}
.letra4:hover{
    background-color: white;
}
.letra5{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0.1px ;
    transform: translateY(-8px);
    background-color: #284A53; 
    height: 60px; 
    width: 100px; 
    position: relative;
    left: 600px; 
    position: absolute;
    top: 17px;
}
.letra5:hover{
    background-color: white;
}
.letra6{
    border-color: white;
    border-style: solid;
    border-width: 0px 0px 0px 0.1px ;
    transform: translateY(-8px);
    background-color:#284A53; 
    height: 60px; 
    width: 100px; 
    position: relative;
    left: 700px; 
    position: absolute;
    top: 17px;
}
.letra6:hover{
    background-color: white;
}
.imagen{
    position: relative;
    left: 200px;
    position: absolute;
    top: 95px;
}
.formulario{
    border: white;
    border: white 3px solid brown; 
    border-radius:22px
}
.formulario2{
    background-color:cornsilk;
    border: white;
    border: white 3px solid brown; 
    border-radius:22px
}
.padrecito2{
    position: relative;
    left: 1000px;
    position: absolute;
    top: 130px;
}
.padre3{
    box-shadow: 0px 0px 50px 0px #E9E9E9 ;
    background-color: white;
    position: relative;
    left: 170px;
    height: 405px;
    width: 1070px;
    position: absolute;
    top: 200px;
}
.padrecito3{
    background-color: white;
    width: 500px;
    position: relative;
    left: 30px;
    height: 300px;
}
.padrecito4{
    position: absolute;
    top: 215px;
}
.Formulario3{
    background-color: #6C9BA8;
    border: #6C9BA8;
    color: white;
    height: 40px;
    width: 90px;
}
.Formulario4{
    background-color:chartreuse;
    border: #6C9BA8;
    color: white;
    height: 40px;
    width: 90px;
}
.imagen2{
    position: relative;
    left: 550px;
    position: absolute;
    top: 0px;
}
.padrecito5{
    background-color: white;
    border-style: outset;
    border-width: 4px 0px 0px 0px;
    width: 990px;
    position: relative;
    left: 28px;
    height: 70px;
}
.Padre4{
    background-color:chartreuse;
    position: relative;
    left: 170px;
    height: 75px;
    width: 1070px;
    position: absolute;
    top: 625px;
}
.padrecito6{
    background-color:chartreuse;
    position: relative;
    left: 25px;
    width: 750px;
    height: 50px;
}
.formulario5{
    position: relative;
    left: 840px;
    position: absolute;
    top: 20px;
    font-size: 18px;
    height: 40px;
    width: 200px;
}
.padre5{
    box-shadow: 0px 0px 50px 0px #E9E9E9 ;
    background-color:#E9E9E9;
    position: relative;
    left: 170px;
    height: 405px;
    width: 1070px;
    position: absolute;
    top: 710px;   
}
.padrecito7{
    background-color: white;
    width: 340px;
    height: 400px;
    position: absolute;
    top: 10px;
}
.padrecito8{
    background-color: white;
    width: 340px;
    height: 400px;
    position: absolute;
    top: -16px;
    position: relative;
    left: 360px;
}
.padrecito9{
    background-color: white;
    width: 341px;
    height: 400px;
    position: absolute;
    top: -448px;
    position: relative;
    left: 730px;
}
.cuadro{
    background-color: white;
    width: 300px;
    position: relative;
    left: 20px;
    height: 370px;
}
.titulo{
    background-color: white;
    border-style:outset ;
    border-width: 0px 0px 2px 0px;
}
.formulario6{
    background-color: #6C9BA8;
    border: #6C9BA8;
    color: white;
    height: 40px;
    width: 90px;
    position: absolute;
    top: 290px;
}
.cuadro2{
    background-color: white;
    width: 300px;
    position: absolute;
    top: 25px;
    position: relative;
    left: 20px;
    height: 370px;
}
.titulo2{
    background-color: white;
    border-style:outset ;
    border-width: 0px 0px 2px 0px;
}
.formulario7{
    background-color: #6C9BA8;
    border: #6C9BA8;
    color: white;
    height: 40px;
    width: 90px;
    position: absolute;
    top: 290px;
}
.final{
    background-color: #E9E9E9;
    position: relative;
    left: 200px;
    font-size: 30px;
    width: 1042px;
    border-style: outset;
    border-width: 0px 0px 3px 0px;
}
.padre6{
    background-color: #E9E9E9;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 1130px;
    position: relative;
    left: 190px;
}
.padre7{
    background-color: #E9E9E9;
    width: 500px;
    height: 100px;
    position: absolute;
    top: 1030px;
    position: relative;
    left: 730px;
}
.Nombre{
    background-color:#284A53 ;
    width: 300px;
    height: 50px;
    position: relative;
    left: 950px;
    transform: translateY(5%);
}
.Nombre1{
    text-shadow: 6px 3px 10px white;
}